@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* begin Bootstrap */
.btn.login-btn,
.btn.signup-btn {
    background-color: #381f03; 
    color: white; 
    border: none;
    padding: 10px 20px; /* Adjusts the padding */
    margin: 0 5px; /* Gives a little space between the buttons */
    border-radius: 5px; /* Rounds the corners */
  }
   
.btn.login-btn:hover,
.btn.signup-btn:hover {
      background-color: white;
      color: #381f03;
  }

/* end Bootstrap */


html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(242, 236, 217);
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    background-color: #C4A484;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    margin-right: 15px;
}

button {
  background-color:rgb(56, 31, 3);
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 10px;
}

button:hover {
    background-color: rgb(242, 236, 217);
    color:rgb(56, 31, 3);
}

hr {
    height: 5px;
    background-color: rgb(56, 31, 3);
    border: none;
    
}

.title {
    font-family: "Nunito";
    font-size: 60px;
    color:rgb(56, 31, 3);
}

.container {
    padding-right: 100px;
}

.paragraph {
    font-family: "Nunito";
    width: 50%;
    padding-left: 30px;
    margin-right: 20px;
}

.coffeePic {
    size: 50%;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
}

.button-container {
    display: flex;
    justify-content: space-between; /* This will place the buttons at opposite ends of the container */
 }


