{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caffeind</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!--  to remove bootstrap, just remove this line -->
    <link rel="stylesheet" href="{% static 'shared/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="header">
        <h1>Caffiend</h1>
        <nav>
            <div class="d-flex justify-content-around">
                <form action="{% url 'login' %}" method="get">
                    <button type="submit" class="btn login-btn">Login</button>
                </form>
                <form action="{% url 'signup' %}" method="get">
                    <button type="submit" class="btn signup-btn">Sign Up</button>
                </form>
            </div>
        </nav>
    </header>
    
    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2024 Caffeine Optimization App. All rights reserved.</p>
    </footer>
</body>
</html>
