{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="middle">
    <div class="paragraph">
        <h2>All About Caffeine: Myths, Benefits, and Risks</h2>
        <p>A shocking 85% of Americans drink at least 1 cup of caffeinated drink a day. While caffeine can have some positive boosts like alertness, it’s important that the body does not build up a tolerance to caffeine to maintain these positive effects. If you drink a lot of caffeinated beverages often, you’ve likely built up your tolerance, desensitizing your body to the effects of the stimulant. More caffeine will be required to get the same effects, which can be dangerous if the levels are too high. 
            <br>
            <br>
            Caffiend is here to help you reset your caffeine tolerance! Enter your caffeine consumption and your body info to get a personalized routine to help wean you off coffee until your tolerance is reset. You won’t be cut off completely! Our algorithm uses your imputed data to decrease your consumption over time to slowly cut back on your caffeine intake.
        </p>
    </div>
    <img class="coffeePic" src="{% static 'shared/images/coffee_cup.png' %}" width="600" height="400" alt="Coffee Brain">
</div>
{% endblock %}

